@import url("https://fonts.googleapis.com/css2?family=Exo+2:wght@300;700;900&display=swap");

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  --primary-primary: #5243C2;
  --primary-danger: #FF4D4F;
  --primary-black: #1F2939;
  --primary-muted: #949BA6;
  --primary-titan-white: #F5F5FF;
  --primary-black-squeeze: #F0F7FA;
  --primary-white: #FFF;
  
  --red-red-500: #FF4D4F;
  --red-red-400: #FF9293;
  --red-red-300: #FFC8C8;
  --red-red-200: #FFEDED;

  --indigo-indigo-600: #473AA6;
  --indigo-indigo-500: #5243C2;

  --gray-gray-200: #D4D4D4;
  --gray-gray-100: #F4F4F4;

  --cream-cream-100: #fff8eb;
}

body {
  background: var(--cream-cream-100);
}