@import url("https://fonts.googleapis.com/css2?family=Exo+2:wght@300;700;900&display=swap");

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  --primary-primary: #5243C2;
  --primary-danger: #FF4D4F;
  --primary-black: #1F2939;
  --indigo-indigo-600: #473AA6;
}